/*@font-face {
font-family: “Montserrat”;
src: url("…/fonts/Montserrat-Regular.ttf");
src: url("…/fonts/Montserrat-Bold.ttf");
}*/

/*{
    background-color: white;
}*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.body {
    font-family: Montserrat;
    background-color: #f5f7fa;
    padding: 40px;
}

.wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Montserrat;
    padding: 40px;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;

}

.sidebar {
    background: #1e2939;
    max-width: 370px;
}

.my-photo {
    width: 370px;
    margin-top: 40px;
}

.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 55px;
}

.contacts-title {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.contacts-link-type {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 10px;

}

.contacts-link {
    color: #656c77;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.about-me-container {
    margin: 90px;
}

.tech-skill-container {
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 55px;

}

.tech-skill-title {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;

}

.tech-skill-item {
    color: #ff6b08;
    margin-left: 15px;
}

.tech-skill-text {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.soft-skills-container {
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 55px
}

.soft-skills-title {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.soft-skills-item {
    color: #ff6b08;
    margin-left: 15px;
}

.soft-skills-text {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.name {
    color: #000000;
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
    font-family: Montserrat;

}
.profession {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    font-family: Montserrat;
}
.description {
    /*width: 413px;*/
    color: #595959;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.projects-container {
    margin-top: 65px;
    margin-bottom: 55px;


}
.about-me-title {
    color: #000000;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700px;
    line-height: 24px;
    margin-bottom: 10px;
}

.projects-item {
    margin-left: 17px;
    color: #000000;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.projects-link {
    color: #595959;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;

}
.dots {
    color: #a8a8a8;
    font-weight: 100px;
}

.tech-name {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}


.profession-title {
    color: #000000;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    /*margin-bottom: 15px;*/

}

.profession-time {
    color: #a8a8a8;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}
.profession-company {
    color: #ff6b08;
}

.profession-divider {
    color: black;
}

.profession-duties {
    margin-left: 17px;
    margin-bottom: 55px;
}

.profession-duties-item {
    color: #595959;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

}
.work-experience-container {
    margin-bottom: 55px;
}
.place-of-education {
    color: #ff6b08;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.faculty {
    width: 102px;
    height: 13px;
    color: #000000;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.education-time {
    color: #a8a8a8;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;

}